# ==========================================
# LOCAL RUNTIMES & BINARIES
# ==========================================
backend/.mongodb/
backend/.maven/
backend/.git_bin/

# ==========================================
# BUILD OUTPUTS
# ==========================================
backend/target/
*.class

# ==========================================
# LOG FILES
# ==========================================
*.log
backend/mongod_out.log
backend/mongod_err.log

# ==========================================
# SYSTEM FILES
# ==========================================
.DS_Store
Thumbs.db
